.list-image{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}
.users{
    background-color: rgb(27, 144, 27);
    height: 40px;
    width: 80%;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.display-users{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}